
td{
 color:black;

}

h1{
    color:black;
   
   }

.img1{
  padding: 52px
}

.Q1{
  padding: 20px




}

.logo1{
  padding: 20px
  



}

.hola1{
  padding: 52px

}

p{
color:black;

}

label{
  color:black;
}


h1{

  color:black;




}



table{
width:100%; 
}
td{
border:2px solid black;
}

td{
  color:black;






}

.celdas{
  border:2px solid black;


}